---
type Props = {
  id: string;
};

const id = Astro.props.id;
---

<h2 id={id}>
  <slot /><a
    class="header-anchor"
    aria-hidden="true"
    tabindex="-1"
    href={`#${id}`}>🔗</a
  >
</h2>

<style>
  .header-anchor {
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 0.5rem;
    color: transparent !important;
    user-select: none;
  }
  h2:hover .header-anchor {
    text-shadow: 0 0 0 blue;
  }
</style>
