---
import ThemeProvider from "../components/ThemeProvider.astro";
import ThemeSelect from "../components/ThemeSelect.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ThemeProvider />
    <ThemeSelect />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }

  html[data-theme="dark"] {
    background-color: #222;
    color: #fff;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  code {
    font-size: 0.9rem;
    border: 1px solid gray;
    padding: 0.2rem;
    border-radius: 5px;
  }

  html[data-theme="dark"] .shiki,
  html[data-theme="dark"] .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }

  .shiki {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid gray;
  }

  .shiki code {
    border: none;
    padding: 0;
    border-radius: 0;
  }
</style>
